.serarch-shop-section {
  width: 100%;
  .main-title {
    height: 76px;
    background-color: #232b38;
    .wrap {
      height: 100%;
      max-width: 1600px;
      padding-left: 135px;
      padding-right: 135px;
      display: flex;
      align-items: center;
      margin: 0 auto;
      h4 {
        color: #fff;
      }
    }
  }
  .main {
    margin: 0 auto;
    max-width: 1600px;
    .result-container {
      width: 100%;
      max-width: calc(100% - 242px);
      margin: 0 auto;
      .filter-option-section {
        width: 100%;
        padding-top: 28px;
        padding-bottom: 28px;
        .input-location-fail {
          width: 76%;
          margin: 0 auto 10px auto;
        }
        .filter-option-form {
          width: 100%;
          align-items: center;
          margin: 0 auto;
          .first-filter {
            // display: flex;
            width: 100%;
            float: left;
            margin-bottom: 16px;
            justify-content: space-between;
            .ant-select-selection {
              height: 50px;
              // width: 265px;
              margin-right: 10px;
              &__rendered {
                line-height: 50px;
              }
            }
            .search-button {
              width: 185px;
              height: 50px;
              background-color: #06c987;
              color: white;
              font-size: 20px;
            }
          }
          .second-filter {
            width: 100%;
            float: left;
            margin-bottom: 16px;
            justify-content: space-between;
            .ant-select-selection {
              height: 50px;
              width: 265px;
              margin-right: 10px;
              &__rendered {
                line-height: 50px;
              }
            }
            .blank-div {
              width: 0px;
              height: 0px;
            }
          }
          .third-filter {
            width: 100%;
            // height: 71px;
            padding: 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            border: 1px solid #e6e6e6;
            border-bottom-width: 6px;
            .third-filter-wrap {
              width: 100%;
              // height: 42px;
              display: flex;
              justify-content: space-between;
              .location-select-blog {
                width: 30%;
                .location-select {
                  // width: 266px;
                  height: 100%;
                }
              }
              .distance-select-blog {
                width: 30%;
                display: flex;
                justify-content: space-between;
                .distance-select {
                  width: 96px;
                }
                .filter-on-button {
                  width: 86px;
                  height: 42px;
                  padding: 0px;
                  font-weight: 600;
                  border: none;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                }
              }
              .rate-select-blog {
                display: flex;
                justify-content: space-between;
                width: 30%;
                .rate-select {
                  width: 60%;
                }
                .kaart-button {
                  width: 30%;
                  height: 42px;
                  font-size: 20px;
                  letter-spacing: 1px;
                  color: #fff;
                  background-color: #232b38;
                }
              }
              .ant-select-selection {
                height: 42px;
                &-selected-value {
                  line-height: 42px;
                  font-weight: 600;
                }
                &__rendered {
                  height: 42px;
                }
              }
            }
          }
          .ant-select-selection-selected-value {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
      .search-result-section {
        padding-top: 40px;
        padding-bottom: 80px;
        .search-result-title {
          padding-left: 15px;
          padding-bottom: 30px;
          display: flex;
          .h5 {
            margin: 0px;
          }
        }
        .ant-spin-dot {
          font-size: 40px;
        }
      }
      .MuiGrid-spacing-xs-2 {
        .MuiGrid-item {
          width: calc(25% - 22px);
          // margin: 0 auto;
        }
      }
    }
  }
}

.search-shop-map {
  .modal-dialog {
    width: 100%;
    height: 800px;
    max-width: 90%;
    max-height: 800px;
    .modal-content {
      height: 100%;
    }
  }
}

.first-filter .ant-select{width: 26%; float: left;}
.first-filter .ant-btn{width: 12% !important; float: left;}

// SC CSS start here

@media (max-width: 1139px){
  .first-filter .ant-select{margin: 0 20px 0 0;}
}

@media (max-width: 1080px){
  .serarch-shop-section .main .result-container .MuiGrid-spacing-xs-2 .MuiGrid-item {width: calc(30% - 22px);}
  .location-select-blog{width: 100% !important; margin-top: 10px; height: 43px;}
  .distance-select-blog{width: 100% !important; margin-top: 10px;}
  .rate-select-blog{width: 100% !important; margin-top: 10px;}
  .third-filter-wrap {display: unset !important;}
}

@media (max-width: 910px){
  .serarch-shop-section .main .result-container .MuiGrid-spacing-xs-2 .MuiGrid-item {width: calc(50% - 22px);}
}

@media (max-width: 841px){
  .first-filter .ant-select{width:100%; float: left; margin: 0 0 10px 0;}
  .first-filter .ant-btn{width: 100% !important; float: left;}
}

@media (max-width: 768px){
  .serarch-shop-section {margin-top: 110px;}
  .serarch-shop-section .main-title .wrap{padding: 0 20px;}
}

@media (max-width: 676px){
  .serarch-shop-section .main .result-container{max-width: calc(100% - 50px);}
}

@media (max-width: 561px){
  .serarch-shop-section .main .result-container .MuiGrid-spacing-xs-2 .MuiGrid-item {width: calc(100% - 22px); text-align: center;}
  .MuiGrid-root .card{display: inline-block !important; margin: 0px auto;}
  .MuiGrid-root .card .card-body{text-align: left;}
}

